<!-- Main content -->
<div class="main-content" id="panel">
    <!-- Header -->
    <!-- Header -->
    <div class="header bg-primary pb-6">
        <div class="container-fluid">
            <div class="header-body">
                <div class="row align-items-center py-4">
                    <div class="col-lg-6 col-7">
                        <h6 class="h2 text-white d-inline-block mb-0">Add a new Class</h6>
                        <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                            <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                                <li class="breadcrumb-item">
                                    <a href="#"><i class="fas fa-home"></i></a>
                                </li>
                                <li class="breadcrumb-item">
                                    <a href="#">Class</a>
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">New Class</li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--6">
        <div class="card mb-4">
            <!-- Card header -->
            <div class="card-header">
                <h3 class="mb-0">Add a new Class</h3>
            </div>
            <!-- Card body -->
            <div class="card-body">
                <!-- Form groups used in grid -->
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="nameofClass">Name of Class</label>
                            <input type="text" class="form-control" id="nameofClass" placeholder="Year 1 (Golden)">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="form-control-label" for="numberofStudents">Description</label>
                            <input type="text" class="form-control" id="numberofStudents" placeholder="this is first class in this school">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="btn btn-primary btn-lg btn-block">
                            Add Class
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- CESA Scripts -->
<!-- Core -->
<script src="assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/js-cookie/js.cookie.js"></script>
<script src="assets/vendor/jquery.scrollbar/jquery.scrollbar.min.js"></script>
<script src="assets/vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js"></script>
<script src="assets/vendor/lavalamp/js/jquery.lavalamp.min.js"></script>
<script src="assets/vendor/dropzone/dist/min/dropzone.min.js"></script>
<!-- CESA JS -->
<script src="assets/js/cesa.js"></script>
<!-- Demo JS - remove this in your project -->
<script src="assets/js/demo.min.js"></script>
</body>

</html>