<footer class="py-5" id="footer-main">
    <div class="container">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6">
                <div class="copyright text-center text-xl-left text-muted">
                    &copy; 2019
                    <a href="#" class="font-weight-bold ml-1" target="_blank">CESA</a>
                </div>
            </div>
            <div class="col-xl-6">
                <p class="text-light">
                    chiwoxs Educative School Application made with
                    <i class="fa fa-heart text-danger"></i> by
                    <a href="www.projaro.com">Projaro.com</a></p>
            </div>
        </div>
    </div>
</footer>